*
**/*

!*.git*
!*.zsh*
!*.eslint*
!*.prettier*
!*.rustfmt*
!backspace.vim
!.markdownlint*
!clang-format*
!README.md
!LICENSE
!.config/starship.toml
!.wslconfig
!.pwshrc
!fonts/*
!.SpaceVim.d/*
!.git/
!Documents/PowerShell/Microsoft.PowerShell_profile.ps1

.eslint*d
.prettierd*
