*
**/*

!*.git*
!*.zsh
!*.bashrc
!*.eslint*
!*.prettier*
!*.rustfmt*
!backspace.vim
!.markdownlint*
!clang-format*
!README.md
!LICENSE
!.wslconfig
!.pwshrc
!fonts/*
!.git/
!Documents/PowerShell/Microsoft.PowerShell_profile.ps1

.eslint*d
.prettierd*
